@import "variables";
@import "mixins";

.footer {
    width: 100%;
    background: radial-gradient(circle, $color-primary 42%, $color-primary-dark-1 100%);
    text-decoration: none;
    padding: 3rem 10%;

    & > h3 {
        color: $color-white;
        font-size: 3.5rem;
        width: 80%;
        border-bottom: 1.5px solid $color-white;

        margin-bottom: 2rem;

        @include respond(tablet3) {
            width: 100%;
        }
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
     color: $color-white;
     text-decoration: none;

    &> * {
        color: rgba($color-white, 0.8);
        font-size: 2.5rem;

        @include respond(phone3) {
            font-size: 2.2rem;
        }
    }
}